* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
    /* background: linear-gradient(0deg, rgba(5, 138, 207, 0.4319852941176471) 0%, rgba(247, 247, 247, 0.3115371148459384) 30%); */
    font-family: "Geist", serif;
    font-optical-sizing: auto;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .main-container {
        margin: 50px 100px 0 100px;
    }
}

.main-container {
    background: rgb(255, 255, 255);
    /* background: linear-gradient(180deg, rgba(5, 138, 207, 0.4319852941176471) 0%, rgba(247, 247, 247, 0.3115371148459384) 30%); */

    /* box-shadow: -3px -1px 17px -1px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: -3px -1px 17px -1px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: -3px -1px 17px -1px rgba(0, 0, 0, 0.53); */

    /* border-radius: 20px; */
    border: #d2d2d2 1px solid;
}

.navbar {
    background-color: #1F305E;
}

.navbar-brand,
a.nav-link.active {
    color: white;
}




section.main {
    height: 100vh;
}

h1.main-h2 {
    font-weight: 600;
}

.simson {
    width: 50%;
}

.simson,
.card {
    transition: .5s;
}

.simson:hover,
.card:hover {
    transform: scale(1.05);
}

.card:hover {
    box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.44);
}

.desc {
    padding-top: 100px;
    margin-bottom: 100px;
}


section.projects {
    padding: 10px;
    margin-top: 30vh;
    margin-bottom: 30vh;
}


section#sertifikat {
    height: 100vh;
    /* margin-top: 100vh; */
    padding-bottom: 20vh;
}

section#sertifikat .card {
    margin: 10px;
}

h1 {
    transition: .5s;
}

h1:hover {
    transform: scale(1.02);
}

section#projek {
    margin-top: 30vh;
}


/* Contact Section */
.contact {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.contact input,
.contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.contact .btn {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}